.m-header-site {
    background: url("images/beautiful-mountains-header.jpg") center center;
    background-size: cover;
    height: 600px;

.heading-header {
  font-size: 60pt;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 5px;
}

.button-about {
  font-size: 30pt;
  color: #fff;
  border: 3px solid #0af6f9;
  border-radius: 2px;
  margin-top: 50px;
  padding: 8px 60px;
  background-color: rgba(10, 246, 249, 0.2);
}
}
