
font-face {
    font-family: 'Slabo 27px', serif;
    src: url('https://fonts.googleapis.com/css?family=Slabo+27px');
 }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  color: #bbb;
}
