#l-body {
  display:flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .heading-header {
    align-self: center;
  }

  .button-about {
    align-self: center;
  }
}

#main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-mont {
    position: relative;

    .icon-close  {
      position: absolute;;
      right: 0;
      top: 0;
    }
  }

  .icon-arrow {
    position: absolute;
    right: 5px;
    top: 165%;
  }

  .icon-arrow-previous {
    position: absolute;
    left: 5px;
    top: 165%;
  }
}

#footer {

}




/*////////////////////////////////////////////////
                  about.html
//////////////////////////////////////////////*/

.container-about {
  display: flex;
  align-items: center;
}
