#l-body {
  display:flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .m-heading {
    align-self: center;
  }

  .button-about {
    align-self: center;
  }
}

#main {
  flex: 1 0 auto;
}

#footer {

}
